.navbar{
    width: 100%;
    position: absolute;
    z-index: 1;
    align-items: center;
}
.navbar h1{
    color: white;
    font-size: 2.5vw;
}
.navlinks{
    display: flex;
    gap: 1.5vw;
}
.navlinks a{
    color: white;
}
.icons{
    width: 30px;
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.container-landing {
padding: 100px 10px;
background-color: rgb(30, 31, 31); /* Change this to any color you want */
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
gap: 4vw;
clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%); 
}

.left{
    width: 35%;
    height: 100%;
}
.left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.right{
    width: 55%;
    height: 100%;
    padding: 5vw;
}
.landing-dis{
    width: 100%;
}
.landing-dis span{
    color: rgb(12, 89, 161); 
}
.landing-dis h1{
    color: rgb(255, 255, 255); 
}
.landing-dis p{
    color: white;
    width: 100%;
    text-align: justify;
}
.landing-dis button{
    transition: ease 0.3s;
    background: transparent;
    border: 1px solid rgb(12, 89, 161);
    padding: 1vw;
    color: rgb(9, 93, 161);
}
.landing-dis button:hover{
    background: rgb(12, 89, 161);
    border: 1px solid rgb(12, 89, 161);
    color: rgb(255, 255, 255);
}
/* menu-css */
.ri-menu-3-line{
    display: none;
}
/* menu-css */
@media (max-width:600px) {
    /* navbar-css-mobile */
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
    }
    .navbar h1{
        color: white;
        font-size: 5vw;
    }
    .navlinks{
        display: flex;
        gap: 1.5vw;
    }
    .navlinks a{
        color: white;
        display: none;
    }
    .icons{
        width: 20px;
    }
    .social-icons{
        display: flex;
        align-items: center;
        gap: 2.5vw;
        padding-right: 15vw;
    }
    .ri-menu-3-line{
        display: flex;
        color: white;
        font-size: 25px;
    }
     /* navbar-css-mobile */
     /* Landing-page-css-mobile */
    .container-landing {
        padding: 70vw 1vw;
        background-color: rgb(30, 31, 31); /* Change this to any color you want */
        width: 100%;
        height: 130vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 96%, 0 100%); 
        }
        .left{
            width: 80%;
            height: 90vh;
        }
        .right{
            width: 100%;
            height: 100%;
            padding: 12vw 5vw;
        }
        .landing-dis h1{
            color: rgb(255, 255, 255); 
            padding: 1vw;
        }
        .landing-dis span{
            color: rgb(12, 89, 161); 
            padding: 0vw 1.5vw;
        }
        .landing-dis{
            color: rgb(12, 89, 161); 
            padding: 0vw 1.5vw;
        }
        .landing-dis button{
            transition: ease 0.3s;
            background: transparent;
            border: 1px solid rgb(12, 89, 161);
            padding: 3.5vw;
            color: rgb(9, 93, 161);
            margin-top: 3vw;
        }
          /* Landing-page-css-mobile */
       
}